/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =======================================
						Starting CSS
	======================================= */
.header{
  background-color: rgb(114, 125, 113);
	text-align: left;
	font-size: 24px;
	color: white;
	font-family: 'Shrikhand', cursive;
	background: url(data-cloud.png);
	background-position: center;

}

.container{
margin-left: 25px;
margin-top: 25px;
text-align: center;
max-width: 200px;
background-color: rgba(247, 211, 24, 1.0);
border: 2px solid rgba(53, 75, 114, 1.0);
padding: 20px;
overflow: auto;
float: left;
height: 600px;
}

.middle-content{
	margin: 15%;
	text-align: center;
	max-width: 600px;
	background-color: rgba(247, 211, 24, 1.0);
	border: 2px solid rgba(53, 75, 114, 1.0);
	padding: 20px;
	overflow: auto;
	float: left;
	border-radius: 25px;
}

.theCheat{
  border-radius: 50%;
	margin: 20px ;
	border: 2px solid white;
}

body {
  background-color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;

}

/*.background-image {
	background: url(data-cloud.png);
	background-position: center;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	border-radius: 25px;
	padding: 20px;
}*/
